Repository llmariner/cluster-monitor, pull requests merged in 2025-06, with the labels that each got.

#2 fix: fix the Make command
  Makefile
Labels: bug

#8 feat: collect cluster snapshot
  agent/internal/collector/cluster_snapshot.go
  agent/internal/collector/cluster_snapshot_test.go
  agent/internal/collector/collector.go
  api/v1/monitor_server_worker.pb.go
  api/v1/monitor_server_worker.proto
  api/v1/monitor_server_worker.swagger.json
  go.mod
  ts/api/v1/monitor_server_worker.pb.ts
Labels: enhancement

#9 chore: add hack/update-chart-version.sh
  hack/update-chart-version.sh
Labels: skip-changelog

#12 chore: add a logging message to sender
  agent/internal/sender/sender.go
Labels: skip-changelog

#13 fix: add clusterrolebinding
  deployments/agent/templates/clusterrolebinding.yaml
Labels: bug

#14 fix: add role and rolebinding for leases
  deployments/agent/templates/role.yaml
  deployments/agent/templates/rolebinding.yaml
Labels: bug

#16 fix: append auth when sending payloads
  agent/internal/sender/sender.go
Labels: bug

#17 feat: add ListClusterSnapshots proto
  api/v1/monitor_server.pb.go
  api/v1/monitor_server.pb.gw.go
  api/v1/monitor_server.proto
  api/v1/monitor_server.swagger.json
  api/v1/monitor_server_grpc.pb.go
  deployments/server/templates/ingress.yaml
  server/internal/server/cluster_snapshot.go
  ts/api/v1/monitor_server.pb.ts
Labels: enhancement

#21 feat: define ListClusterSnapshotsByTenantID
  server/internal/store/cluster_snapshot.go
  server/internal/store/cluster_snapshot_test.go
Labels: enhancement

#22 feat: implement ListClusterSnapshots with real data processing
  server/internal/server/cluster_snapshot.go
  server/internal/server/cluster_snapshot_test.go
  server/internal/server/cluster_telemetry.go
  server/internal/server/cluster_telemetry_test.go
  server/internal/store/cluster_snapshot.go
  server/internal/store/cluster_snapshot_test.go
Labels: enhancement

#23 fix: set cluster snapshot tenant ID
  server/internal/server/cluster_telemetry.go
Labels: bug

#25 fix: fix a typo in port config
  deployments/server/templates/configmap.yaml
Labels: bug

#26 fix: fix clusterMonitorServerWorkerServiceAddr in helm
  deployments/agent/templates/configmap.yaml
Labels: bug

#28 fix: fix worker ingress path
  deployments/server/templates/ingress.yaml
Labels: bug

#30 fix: do not set the auth context more than once
  agent/internal/sender/sender.go
  deployments/server/templates/ingress.yaml
Labels: bug

#32 feat(agent): collect GPU memory and product
  agent/internal/collector/cluster_snapshot.go
  agent/internal/collector/cluster_snapshot_test.go
  api/v1/monitor_server_worker.pb.go
  api/v1/monitor_server_worker.proto
  api/v1/monitor_server_worker.swagger.json
  ts/api/v1/monitor_server_worker.pb.ts
Labels: enhancement

#33 feat: add node count and GPU memory to ListClusterSnapshotsResponse
  api/v1/monitor_server.pb.go
  api/v1/monitor_server.proto
  api/v1/monitor_server.swagger.json
  server/internal/server/cluster_snapshot.go
  server/internal/server/cluster_snapshot_test.go
  ts/api/v1/monitor_server.pb.ts
Labels: enhancement
